@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0;
    margin: auto;
}
/* navbar setting*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu' , sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-family: 600;

}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition : color 0.3s ease ;
}
.navbar .menu li a:hover{
    color: red;
}
.navbar.sticky .menu li a:hover{
    color:#fff;
}

/* menu btn styling*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* home section styling */
.home{
    display: flex;
    background: url("images/banner 8.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu' , sans-serif;
}
.home .max-width{
    margin:auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: red;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color:crimson;
    background:none;
}

/*all similar content styling code*/
section{
    padding: 100px 0;
}
.about, .services, .skills , .contact{
    font-family: 'Poppins', sans-serif;
}
.about .about-content , 
.services .serv-content ,
.skills .skills-content , 
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu' , sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* about section styling */



.about .title::after{
    content: "who i am";
}


.about .about-content .column-left{
    width: 45%;
}   
.about .about-content .column-left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .column-right{
    width: 55%;
}
.about .about-content .column-right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom:10px;
}
.about .about-content .column-right .text span{
    color: crimson;
}

.about .about-content .column-right p{
    text-align: justify;
}
.about .about-content .column-right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .column-right a:hover{
    color:crimson;
    background:none;
}
/* services section styling*/
.services{
    color: #fff;
    background: #111;
}
.services .title::before{
    background: #fff;
}
.services .title::after{
    background: #111;
    content:"what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding:  20px 25px;
    cursor: pointer; 
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
} 
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
} 
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card:hover{
    background: crimson;
}

/* skills styling part */
.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column-left{
    width: calc(50% - 30px);
}
.skills .skills-content .column-right{
    width: calc(50% - 30px);
}
.skills .skills-content .column-left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .column-left p{
    text-align: justify;
}
.skills .skills-content .column-left  a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .column-left  a:hover{
    color:crimson;
    background:none;
}
.skills .skills-content .column-right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .column-right .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}
.skills .skills-content .column-right span{
    font-weight: 500;
    font-size: 18 px;
}
.skills .skills-content .column-right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .column-right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:crimson;
}
.skills-content .column-right .html::before{
    width: 90%;
}
.skills-content .column-right .css::before{
    width: 60%;
}
.skills-content .column-right .js::before{
    width: 80%;
}
.skills-content .column-right .php::before{
    width: 50%;
}
.skills-content .column-right .mysql::before{
    width: 70%;
}

/*contact section styling*/

.contact .title::after{
    content: "get in touch";
}

.contact .contact-content .column-left{
    width: calc(50% - 30px);
}
.contact .contact-content .column-right{
    width: calc(50% - 30px);
}
/*
.contact  .column-right .text{
    width: calc(50% - 30px);
}*/

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .column-left p{
    text-align: justify;
} 
.contact .contact-content .column-left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .row .info .head{
    font-weight: 500;
}
contact .contact-content .row .info .sub-title{
    color: #333;
}

.contact .column-right form .fields{
    display: flex;
}
.contact .column-right form .fields,
.contact .column-right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .column-right form .textarea{
    height:100px;
    width: 70%;
}
.contact .column-right .field{
    height: 50px;
    width: 100%;
}
.contact .column-right form .name{
    margin-right: 10px;
}
.contact .column-right form .email{
    margin-left: 10px;
}
.contact .column-right form .field input ,
.contact .column-right form .textarea textarea{
    height:100%;
    width: 100%;
    border:  1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-size: 'Poppins',sans-serif;
}
.contact .column-right form .textarea textarea{
    padding-top: 10px;
    resize: none;
    margin-top: 15px;
}

.contact .column-right form .button{
    height: 47px;
    width: 170px;
}

.contact .column-right form .button button{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .column-right form .button button:hover{
    color: crimson;
    background: none;
}